$lightColorLight: white;

.section .more {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.black span:hover {
	color: #0366d6  !important;
	background-color: $lightColorLight;
	border: 1px solid black;
	padding: 4px;
}

.pageTitle {
	opacity: 1 ;
}

h1, h2, h3, h4, p, span {
	font-weight: bold;
	font-family: Arial;
	&:not(span) {
		opacity: 0.75;
	}
	&:hover {
		opacity: 1;
	}
}

body.dark {
    #githubLink img {
        filter: invert(100%);
    }
}


#socialMediaBlock {
	display: inline-block;
	a {
		text-decoration: none;
		opacity: .75;
		&:hover {
			opacity: 1;
		}
	}
	img{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 2px solid transparent;
	}
}

.row {
	position: relative;
	display: block;
	width: 100%;
	font-size: 0;
	.cell {
		position: inherit;
		display: inline-block;
		width: 25%;
        padding-top: 25%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: $lightColorLight;
		overflow: hidden;
		&::before {
			top: 0;
			left: 0;
			content: "";
			position: absolute;
			display: inline-block;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		&::after {
			position: absolute;
			font: bold 20px Arial;
			color: $lightColorLight;
			text-shadow: 2px 2px 5px black;
			width: 100%;
			height: 100%;
			text-align: center;
			top: 0;
    		left: 0;
			cursor: pointer;
			padding-top: 50%;
		}
	}

	.FabFlix::before {
		background-image: url("https://danielzelfo.github.io/img/min/portfolio/FabFlix/search.jpg");
	}
	.FabFlixHovered::before {
		background-image: url("https://danielzelfo.github.io/img/min/portfolio/FabFlix/movie.jpg");
	}
	.FabFlix::after {
		content: "FabFlix";
	}

	.spidey::before {
		background-image: url("https://danielzelfo.github.io/img/min/portfolio/spidey/home-square.jpg");
	}
	.spidey::after {
		content: "Spidey Search";
	}
	
	.astra::before {
		background-image: url("https://danielzelfo.github.io/img/min/portfolio/astra/astracommands1.jpg");
	}
	.astraHovered::before {
		background-image: url("https://danielzelfo.github.io/img/min/portfolio/astra/amazon3080.jpg");
	}
	.astra::after {
		content: "Astra";
	}

	.mipsSudoku::before {
		background-image: url("https://danielzelfo.github.io/img/min/portfolio/mipsSudoku/mipsSudoku4.png");
	}
	.mipsSudokuHovered::before {
		background-image: url("https://danielzelfo.github.io/img/min/portfolio/mipsSudoku/mipsSudoku5.png");
	}
	.mipsSudoku::after {
		content: "MIPS Sudoku";
	}

	.cellHovered::before {
		animation: tilt 1s forwards;
	}
	
	.cellHovered::after {
		animation: greyFade .5s forwards;
	}
}
#row1 {
	display: inline-block;
	width: 100%;
}

#aboutme {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	> div {
		text-align: center;
		display: flex;
		flex-direction: column;
		&:nth-child(1) {
			width: 27%;
			min-width: 278px;
		}
		&:nth-child(2) {
			width: 73%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			div {
				display: flex;
				flex-direction: column;
				ol {
					list-style-type: circle;
					span {
						display: block;
					}
					text-align: left;					
				}
				&.education {
					span:nth-child(2) {
						font-weight: 400;
					}
				}
			}
			
		}
	}
}

@media screen and (min-width: 1300px) {
	#aboutme {
		> div:nth-child(1) {
			width: 40%;
		}
		> div:nth-child(2) {
			width: 60%;
		}
	}
}


@media screen and (max-width: 1091px) {
	#aboutme > div:nth-child(2) {
		width: 100%;
	}
}

#portfolio{
	text-align: center;
}


@media only screen and (max-aspect-ratio: 3/2) and (orientation: portrait) and (max-width: 550px) {
	.row {
		.cell {
			width: 100% !important;
            padding-top: 100% !important;
		}
	}
	#row1>* {
		width: 100% !important;	
	}
}

@keyframes tilt {
	from {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: rotate(0);
	}
	to {
		width: 110%;
		height: 110%;
		top: -5%;
		left: -5%;
		transform: rotate(6deg);
	}
}

@keyframes greyFade {
	from {
		background-color: none;
	}
	to {
		background-color: rgba(128, 128, 128, 0.5);
	}
}


@keyframes fadeOut {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
	
}