$lightColorLight: white;

#grid {
    border-radius: 5px;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;

    .row {
        position: relative;
        display: block;
        font-size: 0;

        .cell {
            position: inherit;
            display: inline-block;
            width: 25%;
            padding-top: 25%;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
            overflow: hidden;

            &:not(.dummy) {
                box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
            }

            &::before {
                top: 0;
                left: 0;
                content: "";
                position: absolute;
                display: inline-block;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            &::after {
                position: absolute;
                font: bold 20px Arial;
                color: $lightColorLight;
                text-shadow: 2px 2px 5px black;
                width: 100%;
                height: 100%;
                text-align: center;
                top: 0;
                left: 0;
                cursor: pointer;
                padding-top: 50%;
            }
        }

        .FabFlix::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/FabFlix/search.jpg");
        }
        .FabFlixHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/FabFlix/movie.jpg");
        }
        .FabFlix::after {
            content: "FabFlix";
        }
    
        .spidey::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/spidey/home-square.jpg");
        }
        .spidey::after {
            content: "Spidey Search";
        }

        .todoList::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/todo1.png");
        }

        .todoList::after {
            content: "To-do List";
        }

        .neighborBank::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/neighborBankCover.png");
        }

        .neighborBankHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/neighborBankCreate.png");
        }

        .neighborBank::after {
            content: "Friendly Neighborhood Bank";
        }

        .encrytion::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/encryption1.png");
        }

        .encrytionHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/encryption2.png");
        }

        .encrytion::after {
            content: "Encryption Using Matrices";
        }

        .opbot::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/oPBoT.png");
        }

        .opbot::after {
            content: "oPBoT";
        }

        .paint::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/paintPX.png");
        }

        .paint::after {
            content: "Paint";
        }

        .scheduler::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/availability.png");
        }

        .scheduler::after {
            content: "Employee Scheduler";
        }

        .wearableWeather::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/wearableWeather.jpg");
        }

        .wearableWeatherHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/wearableWeatherLive.png");
        }

        .wearableWeather::after {
            content: "Wearable Weather";
        }

        .sortingAnimations::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/sortingAnim/selectrand.png");
        }

        .sortingAnimationsHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/sortingAnim/selectrand.webp");
        }

        .sortingAnimations::after {
            content: "Sorting Animations";
        }

        .mountieBot::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/mountieBot/classes.jpg");
        }

        .mountieBotHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/mountieBot/roles.jpg");
        }

        .mountieBot::after {
            content: "MouniteBot";
        }

        .cppPrograms::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/cppCode.jpg");
        }

        .cppPrograms::after {
            content: "C++ Programs";
        }

        .shopSupreme::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/ShopSupreme/shopsupreme.png");
        }

        .shopSupremeHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/ShopSupreme/shopsupremedesign.png");
        }

        .shopSupreme::after {
            content: "ShopSupreme";
        }

        .dynamite::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/dynamite/dynamite-2.png");
        }

        .dynamiteHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/dynamite/dynamite-3.png");
        }

        .dynamite::after {
            content: "Dynamite";
        }

        .astra::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/astra/astracommands1.jpg");
        }

        .astraHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/astra/amazon3080.jpg");
        }

        .astra::after {
            content: "Astra";
        }

        .mipsSudoku::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/mipsSudoku/mipsSudoku4.png");
        }

        .mipsSudokuHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/mipsSudoku/mipsSudoku5.png");
        }

        .mipsSudoku::after {
            content: "MIPS Sudoku";
        }
    
        .auctionServer::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/auctionServer/buy-square.jpg");
        }

        .auctionServerHovered::before {
            background-image: url("https://danielzelfo.github.io/img/min/portfolio/auctionServer/sell-square.jpg");
        }

        .auctionServer::after {
            content: "Auction Server";
        }

        .cellHovered::before {
            animation: tilt 1s forwards;
        }

        .cellHovered::after {
            animation: grey .5s forwards;
        }
    }
}

@media only screen and (max-aspect-ratio: 3/2) and (orientation: portrait) and (max-width: 550px) {
    .nonMobile {
        display: none !important;
    }

    #grid .row .nonMobile {
        display: none !important;
    }

    .row {
        .cell {
            width: 100% !important;
            padding-top: 100% !important;
            display: block !important;
        }
    }

}

@keyframes grey {
    from {
        background-color: none;
    }

    to {
        background-color: rgba(128, 128, 128, 0.5);
    }
}

@keyframes tilt {
    from {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: rotate(0);
    }

    to {
        width: 110%;
        height: 110%;
        top: -5%;
        left: -5%;
        transform: rotate(6deg);
    }
}